<app-header></app-header>
<!-- <app-details [id] = "mal_id"></app-details> -->


<div class="home-component">
    <div class="all-anime">
       <div class="trending-anime">
        <div class="top">
            <h4>Search Anime</h4>
            <div class="mb-3 search">
                <!-- <label for="exampleInputEmail1" class="form-label">Look For Your Favorite Anime</label> -->
                <input type="text" class="search" id="search=box" aria-describedby="search-bar" placeholder="Find your favorite anime" [(ngModel)] = "searchTerm" (keyup.enter)="searchAnime($event)">
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="view-all btn btn-info" type = "button" (click)="searchAnime($event)"> Search</div>
        </div>
       </div>
       <div class="anime-search">
        
            <div class="anime-all anime" *ngFor="let anime of allAnime">
                <div class="anime-box" (click)="redirect(anime.mal_id)">
                    <div class="cover">
                        <img [src]="anime.images.jpg.image_url" alt="" loading="lazy">
                    </div>
                    <div class="details">
                        <div class="name">Title: {{anime.title}}</div>
                        <div class="rating">Rating: {{anime.score}}</div>
                    </div>
                </div>
                </div>
       </div>
    </div>
    <div class="popular-anime">
        <h4>Popular Anime</h4>
        <div class="anime-thumbnails">
        
            <div class="anime" *ngFor="let anime of trendingAnime">
                <div class="anime-box">
                    <div class="cover">
                        <img [src]="anime.images.jpg.image_url" alt="">
                    </div>
                    <div class="details">
                        <div class="name">Title: {{anime.title}}</div>
                        <div class="rating">Rating: {{anime.score}}</div>
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>
